body {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  max-width: 100%;
  min-width: 320px;
  background-color: #021528;
  color: #fff;
  height: 100%;
}

section {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  min-width: 320px;
}

img {
  display: block;
  width: 100%;
}

.title {
  font-size: calc(25px + 1.3020833333vw);
}

.description {
  font-size: calc(15px + 0.5208333333vw);
}

.btn.btn-primary.btn-lg {
  background-color: #19B1DE;
}

button.btn {
  border-radius: 1.3rem;
}

/*
  ========================================
  HEADER
  ========================================
*/

header img {
  width: 75px;
}

header .logo {
  width: 50px;
  -webkit-animation: rotation 1s;
          animation: rotation 1s;
  padding-left: 20px;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }

  100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }

  100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}

.hero .wrapper {
  height: calc(100% - 76.4px);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.hero .logo {
  height: 485px;
  padding: 25px 0;
}

.hero .hero__text {
  position: absolute;
  bottom: 75px;
}

.slider-container {
  overflow: hidden;
  background-color: #273747;
}

.slider-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #273747;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  padding: 20px;
}

.slider-item {
  height: 50px;
  margin-right: 50px;
}

.slider-item img {
  -o-object-fit: fill;
     object-fit: fill;
  height: 50px;
}

.prev,
.next {
  background-color: red;
  color: aliceblue;
}

.about .about_mission {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .about_mission:after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  border-right: 1px solid #fff;
  margin-right: 35px;
  height: 100%;
}

.about .about_mission .description {
  margin-right: 70px;
}

.about .about_mission .description:after {
  content: "";
  display: inline-block;
  position: absolute;
  border-bottom: 1px solid #fff;
  top: 58%;
  left: 2%;
  width: 80%;
  margin-bottom: 25px;
}

.about .about_mission p:last-child {
  margin: 90px 0 0;
  color: #19B1DE;
}

.about .about_us img {
  width: 100%;
}

.about .about_us p:nth-child(2) {
  font-weight: 900;
}

.team .container .wrapper .row {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.team .vl {
  border-left: 56px solid #19B1DE;
  position: relative;
  left: 0;
  top: 0;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  height: 100%;
}

.team .vl h1 {
  position: absolute;
  top: 20%;
  right: 0;
}

.team .team_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.team .team_card img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #19B1DE;
  margin-right: 40px;
}

.team .team_card .team_text {
  font-size: calc(12px + 0.2083333333vw);
}

.team .team_card .team_text p:first-child {
  font-weight: 900;
}

.service img {
  max-height: 290px;
  border-radius: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

.service .service_form {
  position: relative;
}

.service form {
  background-color: #19B1DE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 50px;
  width: 310px;
  height: 100%;
}

.service form button.btn {
  width: 80%;
  height: 70px;
}

/*
  ========================================
  FOOTER
  ========================================
*/

footer {
  background: #021528;
}

footer .row:first-child {
  border-bottom: 1px solid red;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

footer img {
  width: 100px;
  padding-top: 20px;
}

footer img:first-child {
  width: 120px;
}

footer a {
  color: red;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

footer a:hover {
  opacity: 0.3;
}

footer .footer__list li {
  margin-bottom: 10px;
}

footer .footer__link {
  display: inline-block;
  border-left: 1px solid red;
  border-right: 1px solid red;
  padding: 0 10px;
  margin: 0 10px;
}

footer .footer__contacts a {
  display: block;
  margin-bottom: 10px;
}

footer .sections-slogans {
  padding-top: 30px;
  padding-bottom: 10px;
}

@media screen and (max-width: 992px) {
  .team .vl {
    border-left: 35px solid #19B1DE;
    border-left: calc(35px + 1.0416666667vw) solid #19B1DE;
  }

  .team .team_card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .team .team_card .team_text {
    height: 42px;
    margin-bottom: 20px;
    text-align: center;
  }

  .team .team_card .team_text p:first-child {
    margin-bottom: 5px;
  }

  .team .team_card img {
    width: calc(100px + 1.5625vw);
    height: calc(100px + 1.5625vw);
    border-radius: 50%;
    background: #19B1DE;
    margin-right: 10px;
  }
}

@media screen and (max-width: 768px) {
  .about .about_mission:after,
  .about .about_mission .description:after {
    display: none;
  }

  .about .about_mission p:last-child {
    margin: 30px 0 40px;
  }

  .service form {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .service form button.btn {
    height: calc(40px + 1.5625vw);
  }
}

@media screen and (max-width: 590px) {
  footer img:first-child {
    width: 80px;
  }

  footer .sections-slogans {
    margin-top: 0;
    padding-top: 20px;
  }
}

@media screen and (max-width: 450px) {
  .service_form img {
    visibility: hidden;
  }

  .service form {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 200px;
    border-radius: 30px;
  }
}