 /*
  ========================================
  FOOTER
  ========================================
*/
footer {
  padding: 50px 0;
  .description {
    margin-bottom: 10px;
  }
  ul {
    padding-left: 0;
  }
  .row:first-child {
    border-bottom: 1px solid $bg-slider;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  background: $bg-color;
  img {
    width: 100px;
    padding-top: 20px;
    &:first-child {
      width: 120px;
    }
  }
  a {
    color: $color-wh;
    opacity: 0.3;
    cursor: pointer;
    transition: .3s;
    &:hover {
      color: $color-wh;
      opacity: 0.6;
    }
  }
  .footer__list {
    li {
      margin-bottom: 10px;
    }
  }
  .footer__link {
      display: inline-block;
      border-left: 1px solid $color-wh;
      border-right: 1px solid $color-wh;
      padding: 0 10px;
      margin: 0 10px;
  }
  .footer__contact {
    display: flex;
    padding-bottom: 10px;
    img {
      height: 20px;
      width: 20px;
      padding-top: 0;
      margin: 2px 10px;
    }
    svg {
      height: 25px;
      width: 25px;
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: 767px) {
  .footer_brand {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 590px) {
  .footer_logo {
    height: 150px;
  }
}
