.technology {
  form {
    background-color: $blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 310px;
    border-radius: 30px;
  }
}