$bg-color: #021528;
$bg-slider: #273747;
$blue: #19B1DE;

$font-sm: calc(12px + 4 * (100vw / 1920));
$font-ref: calc(15px + 10 * (100vw / 1920));
$font-xl: calc(25px + 25 * (100vw / 1920));

$color-wh: #fff;